<div class="section"><%= "ingests: folder = #{File.expand_path(@ingest_folder)}" %></div>

<div class="rounded-border">
  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <thead>
      <tr>
        <th>name</th>
        <th>timestamp</th>
        <th>bytes</th>
        <th>records</th>
        <th>ingested at</th>
        <th class="greedy"></th>
      </tr>
      </thead>

      <tbody>
      <% @files.each do |file|
        ingest = file[:ingest]
        if ingest
          records = ingest.records
          ingested_at = ingest.created_at.strftime Settings.timestamp_format
        end
      %>

          <tr>
            <td><%= file[:name] %></td>
            <td><%= file[:time].strftime Settings.timestamp_format %></td>
            <td><%= file[:size] %></td>
            <td><%= records %></td>
            <td><%= ingested_at %></td>
            <td>
              <% if ingest %>
                  <a href="#" data-toggle="tooltip" title="tip here"
                     placement="bottom">ingested</a>
              <% else %>
                  <%= link_to raw("<i class='fa fa-upload'></i> ingest"), {controller: 'ingests', action: 'create', file_name: file[:name]}, method: :post, class: 'btn btn-mini' %>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

